@import "_mixins.scss";
@import "_values.scss";

/*ДЛЯ СЕТКИ*/

@media (min-width:1200px){
    .container{
        max-width: calc(100% - 60px);
        width: calc(100% - 60px);     
        margin:0 30px 0 30px; 
        padding: 0;           
    }
}

@media (min-width:1700px){
    .container{
        max-width: calc(100% - 108px);
        width: calc(100% - 108px);     
        margin:0 50px 0 58px;            
    }
}



/* ПРОЧЕЕ */
@media (max-width:1850px){
    .catalog-slider{
        .slick-next{
            right: -10px;
        }

        .slick-prev{
            left: -10px;
        }
    }

    .about-page{
        &__nav{
            margin-left: 40px;
        }

        &__content{
            width: calc(100% - 348px - 40px);
        }
    }
}

@media (max-width:1800px){
    .header{
        padding: 0 25px;

        &__bottom{
            &.fixed{
                padding-left: 25px;
                padding-right: 25px;
            }
        }
    }

    .benefits{
        &-block{
            padding-left: 0;
            justify-content: center;

            div{
                &:first-child{
                    width: 68px;
                    height: 68px;
                }
            }
        }
    }

    .footer{
        padding: 0 25px;
    }
}

@media (max-width:1700px){
    .header{
        &__socials{
            margin-left: auto;
            margin-right: auto;

            span{
                display: none;
            }
        }
    }

    .insta{
        &-item{
            width: calc(25% - 30px);
        }
    }

    .about-section{
        &__content{
            padding-left: 40px;
            padding-top: 0px;        
        }
    }

    .footer{
        &__top{
            padding-top: 40px;
            padding-bottom: 40px;
        }

        &-section{
            padding: 0 25px;

            &:first-child{
                padding-left: 0;
                width: 55%;

            }

            &:nth-child(2){
                width: 37%;
            }

            &:last-child{
                padding-right: 0;
            }
        }

        &__socials{
            .socials{
                margin-top: 5px;
            }
        }
    }

    .cart{


        &-sum{
            width: 420px;
            padding: 29px 40px 47px;

            &__total{
                font-size: 36px;
            }
        }

        &-table{
            width: calc(100% - 420px - 30px);

            td{ 
                padding: 20px 15px;

                &:first-child{
                    img{
                        max-width: 90px;
                    }
                }



            }
        }

        .product{
            &-price{
                font-size:22px;
            }

            &-count{
                width: 140px;
            }
        }

        .hint{
            margin-top: 7px;
            line-height: 150%;
        }
    }
}

@media (max-width:1630px){
    .product{
        width: 25%;
    }
}

@media (max-width:1499px){
    .section-title{
        font-size:45px;

        .link{
            font-size: inherit;
        }
    }

    .header{

        
        &__top *{
            font-size: 14px;
        }
        

        &__contacts{
            margin-left: 35px;
        }

        &__search{
            margin: 0px 30px;
        }

        &__cart{
            margin: 0;
        }
    }

    .nav{
        &__link{
            &:not(:last-child)::after{
                margin-left: 15px;
                margin-right: 15px;
            }
        }
    }

    .benefits{
        &-block{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            div{

                &:last-child{
                    margin: 0;
                    margin-top: 10px;
                }
                
            }
        }
    }

    .about-section{
        &__content{
            padding-left: 0px;       
        }
    }

    .footer{
        &-nav{
            grid-template-columns: 1fr 1fr;
        }
    }

    .card{
        &-title{
            font-size: 30px;
            line-height: 130%;
        }


        &-photo{
            margin-left: 0;
            margin-right: 44px;  
            margin-top: 63px;
            flex-grow: 0;
            width: calc(45% - 44px);
        }

        &-info{
            margin-left: 27px;
            flex-grow: 0;
            width: calc(55% - 27px);
            padding-bottom: 90px;
        }

        &__row{
            &:nth-last-of-type(2){
                margin-bottom: 60px;
            }
        }

        .product{
            &-count{
                // width: 190px;
            }
        }

        form{
            margin-left: 0;
            width: 100%;
            margin-top: 10px;
        }
    }

    .cart{
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        &-table{
            width: 100%;
            margin: 0;
            margin-bottom: 20px;
        }

        &-sum{
            margin: 0;
            width: 100%;
        }
    }

    .is-order{
        background: linear-gradient(90deg, #fff 0%, #fff 57%, #F6F6F6 57%, #F6F6F6 100%);
    }

    .order-wrapper{
        max-width: 1140px;
    }

    .order{
        &-summary{
            padding: 10px 25px 30px;

            &__outer{
                width: 430px;
                margin-left: 60px;
            }
        }
    }

    .radio-group{
        label{
            padding: 25px 52px 25px 65px;

            &::before{
                left: 15px;
            }

            &::after{
                left: 25px;
            }

            img{
                right: 15px;
            }
        }
    }

    .backward-link{
        margin-left: 50px;
    }
}

@media (max-width:1380px){
    .product{
        width: 33.3%;
    }

    .search{
        &-result{
            &__row{
                padding: 10px;

                img{
                    max-width: 50px;
                }

                 span{
                    &:first-of-type{
                        font-size: 12px;
                        margin-left: 8px;
                    }

                    &:last-of-type{
                        margin-left: 8px;
                        font-size: 16px;
                        flex-basis: 80px;
                    }
                }
            }

            &__link{
                padding-left: 10px;
                padding-right: 10px;
                font-size: 12px;
            }
        }
    }
}

@media (max-width:1300px){
    .cart{
        &__details{
            display: none;
        }
    }

    .footer{
        &-section{
            padding: 0 10px;
        }

        &__phone-block{
            margin-top: 16px;
        }

        .phone{
            font-size:18px;
        }
    }
}

@media (max-width:1199px){
    .wrapper{
        width: 100%;
        margin-left: 0;
    }

    .aside{
        transform: translateX(-100%);
        z-index: 13;
        transition: all .3s ease-in-out;

        &.opened{
            transform: translateX(0);
        }

        &__close-btn{
            display: block;
        }
    }

    .catalog-btn{
        display: block;
    }

    .nav-btn{
        display: flex;
    }

    .header{

        &-mobile{
            display: flex;
        }

        &__top{
            transform: translateX(-100%);
            background: #fff;
            position: fixed;
            height: 100vh;
            z-index: 15;
            top: 0;
            left: 0;
            width: 330px;
            padding: 26px 36px;
            flex-direction: column;
            justify-content: flex-start;
            // box-shadow: 0px 4px 14px rgb(0 0 0 / 10%);
            transition: all .3s ease-in-out;

            &.opened{
                transform: translateX(0);
            }
        }

        &__bottom{
            &.fixed{
                width: 100vw;
            }
        }

        &__contacts{
            width: 100%;
            margin-left: 0;
            flex-direction: column;
            padding-top: 20px;
            padding-bottom: 20px;
            flex-grow: 0;
            align-items: flex-start;

            .contact-item{
                margin: 5px 0;
                font-size: 16px;

                i{
                    font-size: 17px;
                }


                &:first-child{
                    order: 1;
                }

                &:last-child{
                    order: 2;
                }
            }
        }

        &__socials{
            margin-left: 0;
            margin-top: 20px;
            order:3;
        }

        &__bottom{
            height: 80px;
        }

        &__phone-block{
            display: none;
        }

        &__search{
            margin-right: 10px;
            margin-left: auto;
            width: 50%;
            flex-grow: 0;
        }
    }

    .nav{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid #ECECEC;

        &__close-btn{
            display: block;
        }

        &__link{
            font-size:20px;
            margin-bottom: 10px;
            font-weight: 600;

            &:not(:last-child):after{
                display: none;
            }
        }
    }

    .search-form{

        button{
            padding: 5px;
            font-size: 0;
            width: 46px;
            height: 46px;

            i{
                font-size: 22px;
                margin-right: 0;
            }
        }
    }

    .search-result{
        width: calc(100% - 46px);
    }

    .main-slider{

        .slick-slide{
            max-width:100vw;
        }

        .slick-arrow{
            width: 40px;
            height: 80px;

            svg{
                width: 100%;
                height: 100%;
            }
        }

        .slick-next{
            right: 15px;
        }

        .slick-prev{
            left: 15px;
        }
    }

    .catalog{
        &-slider{
            .slick-next{
                right: -25px;
            }
        
            .slick-prev{
                left: -25px;
            }
        }
    }

    .about-section{
        &__content{
            padding-left: 20px;       
        }
    }

    .card{
        &-info{
            padding-bottom: 50px;
        }

        .product{
            &-count{
                width: 190px;
            }

            &-button{
                font-size: 16px;
            }

            &-price{
                font-size: 32px;
            }
        }

        form{
            margin-top: 0;
            margin-left: 20px;
            width: auto;
        }
    }

    .fast-view{
        .card{
            &-title{
                line-height: 150%;
            }

            &__row{
                &:nth-last-of-type(2){
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    margin-bottom: 20px;
                }

            }

            form{
                margin-left: 0;
                margin-top: 15px;
            }

            .product{
                &-button{
                    padding: 0 20px;
                }
            }
        }
    }

    .about-page{
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: stretch;

        &__nav{
            width: 100%;
            margin-left: 0;
            margin-bottom: 50px;
        }

        &__content{
            width: 100%;
        }
    }

    .order-wrapper{
        max-width: 960px;
    }

    .is-order{
        background: none;
    }

    .order{
        &-page{
            &__body{
                flex-direction: column;
                justify-content: flex-start;
                align-items: stretch;
            }

            &-main{
                width: 100%;
            }


        }

        &-summary{
            &__outer{
                width: 100%;
                margin-left: 0;
            }
        }
    }

    .contacts{
        &-map{
            
        }

        &-block{
            width: 100%;
            position: static;
            text-align: center;
            padding: 30px 25px 30px;

            &__socials{
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
            }
        }
    }

    #contacts-map{
        height: 450px;
        max-height: 450px;
        margin-bottom: 30px;
    }
    
    
}

@media (max-width:991px){
    .benefits{
        flex-wrap: wrap;

        &-block{
            width: 50%;

            div:first-child {
                width: 60px;
                height: 60px;

                // img{
                //     width: 60px;
                // }
            }
        }
    }

    .product{
        width: 50%;
    }

    .insta{
        &-item{
            width: calc(33.3% - 30px);
        }
    }

    .about-section__content {
        padding-left: 0;

        .section-title{
            margin-bottom: 15px;
        }
    }

    .footer{
        &-section{
            &:first-child{
                display: none;
            }

            &:nth-child(2), &:last-child{
                width: 50%;
                padding: 0 20px;
            }


        }

        &__bottom{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .copyright{
            margin-bottom: 10px;
        }
    }

    .card{
        &-photo{
            margin-right: 0;
            width: 45%;
        }

        .product{
            &-count{
                width: 100%;
            }


        }

        &__row{
            &:nth-last-of-type(2){
                margin-bottom: 40px;
            }
        }

        form{
            width: 100%;
            margin-top: 15px;
            margin-left: 0;
        }
    }

    .fast-view{
        .card{
            &__row{
                &-title{
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 10px;
                }
            }

            &-photo{
                img{
                    margin-bottom: 50px;
                }

                .btn{
                    padding: 18px 20px;
                    font-size: 15px;

                    i{
                        margin-left: 8px;
                    }
                }
            }
        }
    }

    .order-wrapper{
        max-width: 540px;
    }
}

@media (max-width:767px){
    .section-title{
        font-size:42px;

        .link{
            font-size: inherit;
        }
    }

    .page-title{
        font-size:30px;
    }

    .promo{
    
        &-slider{
    
            .slick-slide{
                padding: 0;
            }
            
        }
    }

    .about-section__content {
        padding-top: 15px;

        // .section-title{
        //     margin-bottom: 5px;
        // }
    }

    .header{
        position: relative;
    }

    .search{
        &-block{
            margin: 0;
            position:absolute;
            top: 100%;
            width: 100vw;
            z-index: 10;
            right: -25px;
            transform: translateX(100%);
            transition: all .3s ease-in-out;

            button[type="submit"]{
                order: -1;
            }

            &.opened{
                transform: translateX(0);
            }
        }

        &-form{
            position: relative;

            &__close-btn{
                display: block !important;

            }
        }

        &-open-btn{
            display: flex;
        }

        &-result{
            width: 100%;
        }
    }

    .cart{
        &-block{
            padding: 0;
        }

        &__img{
            width: 50px;
            height: 50px;
        }
    }

    .card{
        flex-direction: column;

        &-photo{
            margin: 0;
            width: 100%;
            margin-bottom: 20px;
        }

        &-info{
            margin: 0;
            width: 100%;            
        }
    }

    .fast-view{
        .card{
            flex-direction: column;

            &-photo{
                width: 100%;
                text-align: center;
                padding: 40px 30px;
                margin-bottom: 0;

                img{
                    max-width:70%;
                }
            }

            &-info{
                width: 100%;
                padding: 0 30px 40px;
            }
        }
    }

    .cart{
        &-table{
            tr{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            td{
                &:first-child{
                    width: 100%;

                    img{
                        max-width: calc(45% - 15px);
                        margin-right: 15px;
                    }

                    &::after{
                        display: none;
                    }
                }

                &:nth-child(2){
                    width: 45%;
                }

                &:nth-child(3){
                    width: 45%;
                }

                &:last-child{
                    width: 10%;

                }


            }
        }

        &-sum{
            padding: 26px;

            &__total{
                font-size: 32px;
            }

            &__promo{
                input{
                    flex-grow: 1;
                }
            }
        }
    }

    .order-wrapper{
        max-width: 100%;
    }

    .backward-link{
        margin: 0 auto;
        font-size: 0;

        i{
            font-size: 18px;
        }
    }

    .order{

        &-header{
            text-align: right;

            .logo{
                width: 170px;
                height: auto;
            }

            .phone{
                font-size: 15px;
            }

            .shedule {
                line-height: 150%;
                font-size: 12px;
            }
        }

        &-header__body,
        &-page__body{
            padding: 0px 20px;
        }

        &-step{
            padding-left: 0;
        }
    }

    .step-title-block{
        padding-left: 50px;
    }
}

@media (max-width:575px){
    .catalog{
        &-slider{
            .slick-next{
                right: -15px;
            }
        
            .slick-prev{
                left: -15px;
            }
        }
    }

    .product{
        width: 100%;
    }

    .insta{
        &-item{
            width: calc(50% - 30px);
        }
    }

    .footer{
        &__top{
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &__bottom{
            height: auto;
            padding: 20px 0;
        }

        &-section{
            border: none !important;
            width: 100% !important;
        }
    }

    .filter{
        &-title{
            margin-bottom: 10px;
        }

        &_type1{
            &+label{
                width: calc(50% - 20px);

                &:nth-of-type(odd){
                    margin-right: 10px;
                }

                &:nth-of-type(even){
                    margin-left: 10px;
                    margin-right: 0;
                }
            }
        }


        
    }

    .fast-view{
        .card{
            &-photo{
                padding: 30px 20px;

                img{
                    max-width: 90%;
                }
            }

            &-info{
                padding: 0 20px 30px;
            }
        }
    }

    .about-page{
        font-size: 16px;
        
        .gallary{
            &__item{
                flex-basis: calc(100% / 2 - 10px * 2);
                padding-bottom: 31%;
            }
        }
    }
}

@media (max-width:500px){
    .order-header{
        &__body{
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

        &__phone-block{
            text-align: center;
        }

        .backward-link{
            font-size: 14px;
            margin: 5px auto 15px;

            i{
                font-size: inherit;
                margin-right: 10px;
            }
        }

        
    }
}


@media (max-width:400px){
    .section-title{
        font-size:35px;
    }

    .page-title{
        font-size:26px;
        line-height: 130%;
    }

    .aside{
        width: 300px;
    }

    .header{
        &-mobile{
            flex-direction: column;
            height: auto;
            padding: 15px 0;
            text-align: center;

            &__phone-block{
                margin-top: 5px;
                align-items: center;
            }
        }

        &__top{
            width: 300px;
        }
    }

    .catalog-btn{
        font-size: 14px;
    }

    .main-slider{
        .slick-arrow{
            display: none;
        }
    }

    .benefits{
        &-block{
            width: 100%;
            flex-direction: row;
            justify-content: flex-start;
            padding: 10px 25px;
            text-align-last: left;
            height: auto;

            div{
                &:last-child{
                    margin-left: 15px;
                }
            }
        }
    }

    .insta{
        &-content{
            width: 100%;
            margin: 0;
        }

        &-item{
            width: 100%;
            margin: 0 0 10px;
        }
    }

    .filter{
        &-group{
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        &-select{
            align-self: flex-start;
            margin-left: 0;
            margin-top: 15px;
        }

        &_type1{
            &+label{
                width: 100%;
                margin-left: 0 !important;
                margin-right: 0 !important;
            }
        }
    }

    .cart{
        &-table{
            td{
                
                &::after{
                    display: none;
                }

                &:nth-child(2){
                    width: 50%;
                }

                &:nth-child(3){
                    width: 50%;
                }

                &:last-child{
                    width: 100%;
                }
            }
        }

        &-sum{

            &__title{
                margin-bottom: 0;
                font-size: 22px;
            }

            &__total{
                font-size: 26px;
                padding-bottom: 25px;

                span{
                    display: block;
                    line-height: 120%;
                }
            }

            &__promo{
                input{
                    width: 100%;
                    margin: 0;
                    margin-bottom: 15px;
                }

                button{
                    width: 100%;
                }

            }

            a.btn.btn_filled{
                font-size: 14px;
                padding: 18px 27px;
            }
        }
    }

    .order-summary{
        padding: 10px 18px 25px;

        &__title, &__sum{
            font-size: 18px;
        }

        &__btn{
            padding: 18px 30px !important;
        }
    }

    .order-product-item{

        &__title{
            font-size: 13px;
        }

        &__count{
            font-size: 13px;
            flex: 0 0 70px;
        }

        &__price{
            font-size: 13px;
            flex: 0 0 75px;
        }
    }

}

@media (max-width:360px){
    .cart{
        &-table{
            td{
                width: 100% !important;
            }
        }
    }

    .about-page{
        .gallary{
            margin-left: 0;
            margin-right: 0;

            &__item{
                flex-basis: 100%;
                padding-bottom: 62%;
            }
        }
    }


}