@import "_mixins.scss";
@import "_values.scss";
@import "_ext.scss";
@import "_UI.scss";

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:inherit;
    outline: none;
}

img{
    max-width:100%;
}

body{
    max-width: 100vw;
    overflow-x: hidden;
}

body::before {
    content: "";
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 13;
    opacity: 1;
  }
  
  body.dark:before {
    display: block;
  }
  
  .overflow-hid {
    overflow-y: hidden;
  }

.aside{
    position:fixed;
    top: 0;
    left: 0;
    min-height:100vh;
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    padding:26px 36px;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);

    &::-webkit-scrollbar{
        width: 0;
        background: transparent;
    }
}

.catalog-btn{
    // display: inline-block;
    display: none;
    background: $blue;
    color:#fff;
    height: 46px;
    padding: 0 10px;
    font-size:16px;
    font-family: Nunito;
    text-transform: uppercase;
    line-height: 46px;
    margin-left: 15px;
}


.logo{
    width: 250px;
    height: 108px;

    img{
        width: 100%;
    }
}

.cat-list{
    list-style: none;
    margin: 0;
    margin-top: 23px;
    padding: 0;
    width: 100%;

    &__item{
        position: relative;
        padding: 15px 31px 15px 51px;
        font-family: Merriweather;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 157%;
        color: #171717;
        border-top: 1px solid #ECECEC;

        &:last-child{
            border-bottom: 1px solid #ECECEC;
        }

        a{}

        i{
            position: absolute;
            top: 12px;
            left: 0;
            color:$blue;
            font-size: 30px;
        }
    }


}

.wrapper{
    margin-left:330px;
    // width:calc(100vw - 330px);
    width: calc(100vw - 347px);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
}

.inner-wrapper{
    width: 100%;
    flex-grow: 2;
    padding-bottom: 120px;
}

.header{

    padding: 0 50px 0 58px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);

    &-mobile{
        display: none;
        height: 70px;
        // display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            height: 60px;
            width: auto;
            img{
                height: 100%;
                width: auto;
            }
        }

        &__phone-block{
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .phone{
                font-size: 15px;
            }

            .shedule{
                line-height: 150%;
                font-size:12px;
            }
        }
    }


    &__top{
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;   
    }

    &__bottom{
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #ECECEC;
        position: relative;
    }

    &__contacts{
        margin-left: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 2;
    }

    &__socials{
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 147%;
        color: #171717;
        margin-left: 38px;
        display: flex;
        align-items: center;

        // .socials{
        //     margin-left: -8px;
        // }
    }

    &__phone-block{  
        margin-top: 14px;
    }

    &__search{
        flex-grow: 2;
        margin-left: 107px;
        margin-right: 93px;
    }

    &__cart{
        margin-right: 28px;
    }

}

.nav{
    &__link{
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 147%;
        color: #171717;
        transition: all .3s;

        &:hover{
            color: $paleBlue;
        }
        // margin-right: 35px;

        &:not(:last-child)::after{
            content: "";
            display: inline-block;
            width: 3px;
            height: 3px;
            border-radius:50%;
            border: 1.5px solid $blue;
            margin-left: 24px;
            margin-right: 24px;
            position: relative;
            top: -3px;   
        }
    }
}

.main-nav-btn{
    display: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $blue;
    // display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
        display: block;
        width: 20px;
        height: 3px;
        background-color: #fff;

        &:not(:last-child){
            margin-bottom: 3px;
        }
        
    }

}

.contact{
    &-item{
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 147%;
        color: #171717;

        i{
            color: #DEDEDE;
        }
    }
}

.socials{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    // line-height: 20px;

    &__link{
        // margin: 0 4px;
        margin-right: 4px;
        font-size: 20px;

        &:hover{
            i{
                color: $paleBlue;
            }

            i.icon-vk::before{
                background-color: $paleBlue;
            }
        }

        i{
            color:#878787;
            font-size: 23px;
            transition: all .3s;
        }

        i.icon-fb::before{
            // font-size: 23px;
        }

        i.icon-vk::before{
            width: 20px;
            height: 20px;
            color: #fff;
            font-size: 20px;
            line-height: 20px;
            background: #878787;
            border-radius: 50%;
            transition: all .3s;
        }
    }
}

.phone{
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 110%;
    color: #171717;
}

.shedule{
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 280%;
     color: #878787;
}

.search{

    &-form{
        display: flex;
        justify-content: space-between;
        height: 50px;
        background: #FFFFFF;
        border: 2px solid $blue;
        border-radius: 5px; 

        input{
            flex-grow: 2;
            border: none;
            outline: none;
            background: none;
            font-family: Nunito;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 280%;
            color: #878787;
            padding: 5px 24px;
        }

        button{
            display: flex;
            justify-content: center;
            align-items: center;
            background: $blue;
            border: none;
            outline: none;
            padding: 5px 25px;
            font-family: Nunito;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 223%;
            color: #FFFFFF;
            // transition: all .3s;

            &:hover{
                cursor: pointer;
                // background: $paleBlue;
            }

            i{
                margin-right: 8px;
                font-size: 22px;
            }
        }

        &__close-btn{
            display: none;
            width: 46px;
            height: 46px;
            position: relative;

            &::before, &::after{
                content: "";
                top:50%;
                left: 50%;
                position: absolute;
                width: 25px;
                height: 2px;
                background-color: #171717;
            }

            &::before{
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &::after{
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }

    &-open-btn{
        display: none;
        // display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        color: $blue;
        border: none;
        outline: none;
        // padding: 5px 25px;
        // color: #FFFFFF;
        width: 46px;
        height: 46px;
        border-radius: 6px;
        margin-right: 20px;
        margin-left: auto;

        &:hover{
            cursor: pointer;
        }

        i{
            font-size: 22px;
        }
    }

}

.cart{
    &-block{
        display: flex;
        align-items: center;
        padding: 10px;
        transition: all .3s;

        &:hover{
            cursor:pointer;
            background: #FBFBFB;
        }

    }

    &__img{
        position: relative;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #009BE8;
        border-radius: 50%;

        i{
            color: #171717;
            font-size: 20px;
        }

        span{
            position: absolute;
            top:67%;
            left:67%;
            display: block;
            height: 20px;
            min-width: 20px;
            background: #FFB717;
            border-radius: 50%;
            font-family: Nunito;
            font-style: normal;
            font-weight: 900;
            font-size: 12px;
            line-height: 20px;
            color: #171717;
            text-align: center;
        }
    }

    &__details{
        display: flex;
        flex-direction: column;
        margin-left: 17px;
        margin-top: -10px;

        span{
            font-family: Nunito;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 170%;
            color: #878787;
        }

        strong{
            font-family: Merriweather;
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 92%;
            color: #171717;
        }
    }
}

.main-slider{
    width: 100%;
    position: relative;

    .slick-arrow{
        @extend %button-style-reset;
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);

        &:hover{
            cursor: pointer;
        }
    }

    .slick-next{
        right: 58px;
    }

    .slick-prev{
        left: 58px;
    }

    .slick-slide{
        // img{
            max-width:calc(100vw - 330px);
        // }
    }
}

.benefits{
    width: 100%;
    display: flex;
    justify-content: space-between;

    &-block{
        height: 166px;
        width: 25%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 58px;
        background: #FFFFFF;
        border: 1px solid #ECECEC;

        div{
            &:first-child{
                width: 80px;
                height: 80px;
                border-radius: 50%;
                border: 2px solid #009BE8;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &:last-child{
                display: flex;
                flex-direction: column;
                margin-left: 20px;
                margin-top: 24px;
            }
        }

        strong{
            font-family: Merriweather;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 122%;
            color: #171717;
        }

        span{
            font-family: Nunito;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 233%;
            color: #171717;
        }
    }
}

.popular{
    margin-top: 90px;
}

.catalog{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;

    &-slider{
        margin-bottom: 50px;

        .product{
            // min-height: 450px;
            height: 480px;
            outline: none;
            // height: 100%;
        }

        .slick-arrow{
            @extend %button-style-reset;
            @extend %center;
            position: absolute;
            z-index: 2;
            top: 50%;
            transform: translateY(-50%);
            width: 52px;
            height: 52px;
            background: #FFFFFF;
            border: 1px solid #ECECEC;
            border-radius: 50%;
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
            transition: all .3s;
    
            &:hover{
                cursor: pointer;
                border: 1px solid #4FC2FB;

                path{
                    stroke: #4FC2FB;
                    transition: all .3s;
                }
            }
        }
    
        .slick-next{
            right: -25px;
        }
    
        .slick-prev{
            left: -25px;
        }

    }

    &+.btn{
        width: 100%;
        height: 90px;
    }
}

.product{
    width: 20%;
    padding: 24px 30px 20px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #ECECEC;

    &-art{
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 350%;
        color: #878787;
    }

    &-presenсe{
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 157%;
        color: #878787;
        // padding-left: 5px;


        &::before{
            content: "";
            display: inline-block;
            width: 12px;
            height: 8px;
            @extend %tick;
            background: #4bb155;
            margin-right: 5px;
        }
    }

    &-title{
        font-family: Merriweather;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: #171717;
    }

    &-price{
        font-family: Merriweather;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 100%;
        color: #171717;
    }

    &-button{
        width: 70px;
        height: 40px;
        background-color: $yellow;
        border-radius: 6px;
        @extend %button-style-reset;
        transition: all .3s;

        i{
            font-size: 22px;
        }

        &:hover{
            background-color: $paleYellow;
            cursor: pointer;
        }
    }

    &__img{
        width: 220px;
        height: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        a::after{
            width: 180px;
            height: 44px;
            font-family: Merriweather;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 174%;
            color: #FFFFFF;
            content: "Быстрый просмотр";
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.7);
            background: rgba(0, 155, 232, 0.8);
            border: 1px solid #009BE8;
            box-sizing: border-box;
            border-radius: 5px;
            opacity: 0;
            transition: .3s;
        }

        a:hover::after{
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }

        img{
            max-width: 100%;
        }
    }

    &__desc{
        width: 100%;
        padding-bottom: 25px;
        border-bottom: 1px dashed #87878780;
        flex-grow: 2;
    }

    &__bottom{
        width: 100%;
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &-sizes{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &-size{
        display: none;

        &+label{
            padding: 11px 15px;
            background: #FFFFFF;
            border: 1px solid #DEDEDE;
            border-radius: 5px;
            font-family: Merriweather;
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 109%;
            text-align: center;
            color: #171717;
            transition: all .3s;

            &:not(:last-of-type){
                margin-right: 15px;
            }

            &:hover{
                border: 1px solid $paleBlue;
                box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
                border-radius: 5px;
                cursor: pointer;
            }

        }

        &:checked+label{
            background: $blue;
            border-color:$blue;
            color: #fff;
        }
    }

    &-count{
        width: 222px;
        height: 60px;
        background: #FFFFFF;
        border: 1px solid #ECECEC;
        border-radius: 5px;
        position: relative;

        input{
            width: 100%;
            height: 100%;
            border: none;
            background: none;
            outline: none;
            font-family: Merriweather;
            font-style: normal;
            font-weight: 900;
            font-size: 22px;
            line-height: 109%;
            text-align: center;
            color: #171717;
        }

        button{
            outline: none;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border: none;
            border-radius: 50%;
            background: none;
            width: 38px;
            height: 38px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .3s;

            &:hover{
                cursor: pointer;
                background: #ECECEC;
            }

            &.inc{
                right: 9px;
            }

            &.dec{
                left: 9px;
            }
        }
    }

    &-desc{
        font-family: Nunito;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        color: #171717;

        h3{
            font-family: Merriweather;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 250%;
            color: #171717;
            margin: 0;
        }

        p{
            margin-top: 0;
        }
    }
}

.promo{
    margin-top: 120px;

    &-slider{
        width: 100%;

        .slick-slide{
            padding: 0px 15px;
        }
        
    }
}

.promo2{
    margin-top: 120px;

    &-slider{
        width: 100%;
    }
}

.insta{
    margin-top: 120px;
    padding-bottom: 120px;
    border-bottom: 1px solid #ECECEC;

    .section-title{
        text-align:left;
    }

    &-content{
        width: calc(100% + 30px);
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-left:-15px;
        margin-right:-15px;
    }

    &-item{
        margin: 0 15px 30px 15px;
        width: calc(20% - 30px);
        position: relative;

        &::before{
            content: "";
            display: block;
            width: 100%;
            padding-bottom: 100%;
        }

        a{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;

            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: $blue;
                z-index: 3;
                opacity:0;
                transition: all .3s;
            }

            &:hover::before{
                opacity:0.8;
            }

            &::after{
                content: "\e907";
                font-family: "icon-font";
                color:#fff;
                font-size: 80px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0);
                z-index: 4;
                transition: all .3s;
            }

            &:hover::after{
                transform: translate(-50%, -50%) scale(1);
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

    }
}

.about-section{
    padding-top: 120px;

    img{
        max-width: 100%;
    }

    &__content{
        padding-left: 80px;
        padding-top: 20px;
    }

    .section-title{
        text-align: left;
        margin-bottom: 30px;
    }

    .btn{
        margin-top: 30px;
    }
}

[class^="about-"], [class*="about-"]{
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 144%;
    color: #171717;

    p{
        margin-bottom: 32px;
    }

    b{
        font-weight: 700;
    }

    ul, ol{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li{
        position: relative;
        padding-left: 22px;
        margin-bottom: 7px;
        margin-top: 7px;

        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 10px;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            border: 1.5px solid #009BE8;
        }


    }
}

.footer{
    width: 100%;
    padding: 0px 58px;
    background: #171717;

    &-title{
        font-family: Merriweather;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 330%;
        color: #FFFFFF;
        margin-bottom: 7px;
    }

    &-section{
        &:first-child{
            width: 49%;
            padding-right: 40px;
        }

        &:nth-child(2){
            width: 23%;
        }

        &:not(:last-child){
            border-right: 1px solid #ececec27;
        }
    }

    &-nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        

        &__link{
            font-family: Merriweather;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 142%;
            color: #FFFFFF;
            transition: all .3s;
            // margin-bottom: 16px;

            &:hover{
                color: $paleBlue;
            }
        }
    }

    &__top{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 74px;
        padding-bottom: 65px;
        border-bottom: 1px solid #ececec27;
    }

    &__phone-block{
        margin-bottom: 25px;

        .phone{
            color: #FFFFFF;
        }
    }

    &__mail{
        color: #FFFFFF;
        

        i{
            color:#878787;
        }
    }

    &__socials{
        margin-top: 25px;
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 147%;
        color: #FFFFFF;

        i.icon-vk::before{
            color:#171717;
        }
    }

    &__bottom{
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.addr-list{
    margin: 0;
    padding: 0;
    list-style: none;

    .contact-item{
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 147%;
        color: #FFFFFF;
        margin-bottom: 16px;

        i{
            color:#878787;
        }
    }
}

.copyright{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120%;
    color: #FFFFFF;
}

.dev{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120%;
    color: #FFFFFF;

    span:nth-child(2){
        margin: 0 5px;
    }
}

.breadcrumbs{
    margin: 0;
    padding: 0;
    margin-top: 33px;
    margin-bottom: 17px;
    list-style: none;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;


    &__item{
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 183%;
        color:#171717;

    }

    &__link{
        color: #009BE8;
        position: relative;
        margin-right: 32px;

        &::after{
            content: "";
            display: block;
            background-color: #cccccc;
            width: 12px;
            height: 1px;
            position: absolute;
            top: 55%;
            right: -22px;
            transform: rotate(-69deg);
        }
    }
}

.filters{
    width: 100%;
    margin-bottom: 40px;
}

.filter{
    display: none;

    &-title{
        font-family: Merriweather;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 150%;
        color: #171717;
        margin-right: 20px;
    }

    &-group{
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        &:not(:last-child){
            padding-bottom: 15px;
            border-bottom: 1px solid #ECECEC;
        }

        &:not(:first-child){
            padding-top: 30px;
            border-top: 1px solid #ECECEC;
        }
    }

    &-select{
        margin-right: 0;
        margin-left: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        align-self: flex-end;

        label{
            font-family: Nunito;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 147%;
            color: #171717;
        }
    }

    &+label{
        position: relative;
        border: 1px solid #4fc2fb00;
        background: #FFFFFF;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
        margin-bottom: 15px;
        transition: all .3s;

        &:hover{
            border: 1px solid $paleBlue;
            cursor: pointer;

            &:before{
                border: 1.5px solid $paleBlue;
                background: $paleBlue;
            }
        }

        &::before{
            content:"";
            position: absolute;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: #FFFFFF;
            border: 1.5px solid #CDCDCD;
            transition: all .3s;
        }

        &::after{
            content: '';
            // font-family: "icon-font";
            font-size: 22px;
            color:#000;
            position: absolute;
            width: 11px;
            height: 8px;
            z-index: 10;
            background: #fff;
            @extend %tick;
            transform: scale(0);
            transition: all .3s;
        }
    }

    &:checked+label{
        &::before{
            border: 1.5px solid $blue;
            background: $blue;
        }

        &::after{
            transform: scale(1);
        }

        &:hover{
            &::before{
                border: 1.5px solid $paleBlue;
                background: $paleBlue;
            }
        }
    }

    &_type1{

        &+label{
            padding: 16px 27px 18px;
            height: 150px;
            width: 150px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content:  flex-start;
            align-items: center;

            &:not(:last-of-type){
                margin-right: 15px;
            }


            &::before{
                top: 10px;
                left: 10px;
            }

            &::after{
                top: 18px;
                left: 16px;
            }

            img{
                margin-bottom: 6px;
                width: 83px;
                height: 74px;
                object-fit: contain;
            }

            span{
                font-family: Nunito;
                font-style: normal;
                font-weight: 800;
                font-size: 14px;
                line-height: 129%;
                text-align: center;
                color: #171717;
            }
        }
    }

    &_type2{

        &+label{
            padding: 16px 24px 16px 53px;
            border-radius: 5px;

            &:not(:last-of-type){
                margin-right: 15px;
            }

            span{
                font-family: Nunito;
                font-style: normal;
                font-weight: 800;
                font-size: 14px;
                line-height: 129%;
                color: #171717;
                
            }

            &::before{
                left: 19px;
                top: 10px;
            }

            &::after{
                top: 18px;
                left: 25px;
            }
        }
    }
}

.sort-select{
    border:none;
    width: 140px;
    height: 22px;
    line-height: 22px;

    &::after{
        border-color: $blue;
    }

    .current{
        font-family: Nunito;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 147%;
        color: $blue;
        border-bottom: 1px dashed $blue;
    }

    .list{
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #DEDEDE;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 12px 17px;

        .option{
            padding: 0;
            font-family: Nunito;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 169%;
            color: #171717;
            min-height: unset;
            transition: all .3s;

            &:hover{
                color: $paleBlue;
            }
        }
    }
}

.card{
    width: 100%;
    display: flex;
    margin-top: 60px;

    &-title{
        font-family: Merriweather;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 167%;
        color: #171717;
        margin: 0;
    }

    &__row{
        display: flex;
        flex-wrap: wrap;
        padding-top: 25px;
        padding-bottom: 30px;
        border-bottom: 1px solid #ECECEC;

        &:first-of-type{
            padding-top: 8px;
        }

        &:nth-last-of-type(2){
            border: none;
            margin-bottom: 100px;
        }

        &-title{
            font-family: Nunito;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 127%;
            width: 100%;
            color: #878787;
            margin-bottom: 17px;
        }
    }

    &-photo{
        margin-left: 60px;
        margin-right: 44px;  
        margin-top: 63px;
        flex-grow: 0;
        width: calc(50% - 60px - 44px);
    }

    &-info{
        margin-left: 27px;
        flex-grow: 0;
        width: calc(50% - 27px);
        padding-bottom: 120px;
    }

    .product{
        &-presenсe{
            margin-right: 20px;
        }

        &-art{
            font-size: 14px;
            line-height: 157%;
        }

        &-price{
            font-size: 40px;
            line-height: 85%;
        }

        &-button{
            width: auto;
            height: 60px;
            font-family: Merriweather;
            font-style: normal;
            font-weight: 900;
            font-size: 18px;
            line-height: 133%;
            text-align: center;
            color: #171717;
            width: 100%;
        }
    }

    form{
        flex-grow: 2;
        margin-left: 20px;
    }

    &~.catalog-slider{
        margin-bottom: 0;
    }
}

.fast-view{
    display: none;
    max-width: 1000px;
    max-height: 570px;
    padding: 0;

    .card{
        margin: 0;
        width: 100%;
        height: 100%;

        &-photo{
            margin-top: 0;
            margin-right: 0;
            margin-left: 0;
            padding: 58px 40px 51px 50px;
        }
    }
}











